.column-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid;
}

.column-left h1 {
    text-align: center;
}

.nav-links {
    width: 50%;
    margin: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.nav-links li {
    list-style-type: none;
}